* {
  padding: 0;
  margin: 0;
  border: 0;
}




@import './Styles/seccioninicio.scss';

@import './Styles/episodios.scss';

@import './Styles/seccioncuerpo.scss';

@import './Styles/footer.scss';

@import './Styles/menu.scss';

