.seccionspotify{
    background-image: linear-gradient(#0000FF,#0000A3);
    clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    //margin-bottom: 8.97rem;
    h3{
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 2.25rem;
        color: #FFFFFF;
        margin-left: 5%;
        margin-top: 4rem;
        margin-bottom: 1.31rem;
    }
    .contenedoraudio1{
        width: 93.1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3.4%;
        margin-bottom: 0.69rem;
        background-color: transparent;
    }
    .contenedoraudio2{
        width: 93.1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3.4%;
        margin-bottom: 0.69rem;
        background-color: transparent;
    }
    .contenedoraudio3{
        width: 93.1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3.4%;
        margin-bottom: 0.69rem;
        background-color: transparent;
    }
    .contenedoraudio4{
        width: 93.1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3.4%;
        margin-bottom: 8.97rem;
        background-color: transparent;
    }
    
        
}

@media only screen and (min-width: 768px) {
    .seccionspotify{
        background-image: linear-gradient(#0000FF,#0000A3);
        clip-path: polygon(0% 12%, 100% 0%, 100% 88%, 0% 100%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        //height: 65.16rem;
        //margin-bottom: 8.97rem;
        h3{
            font-family: "IBM Plex Sans", sans-serif;
            font-size: 3rem;
            color: #FFFFFF;
            margin-left: 13.9%;
            margin-top: 11.63rem;
            margin-bottom: 1.31rem;
        }
        .spotifycontenedor {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            gap: 1%;
            margin-left: 4.5%;
            margin-bottom: 5.9%;
        }
            .contenedoraudio1{
            width: 40.6vw;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            margin-bottom: 0.69rem;
            background-color: transparent;
        }
            .contenedoraudio2{
                width: 40.6vw;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 0.69rem;
                background-color: transparent;
        }
            .contenedoraudio3{
                width: 40.6vw;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 0.69rem;
                background-color: transparent;
                margin-top: -7%;
        }
            .contenedoraudio4{
                width: 40.6vw; 
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 8.97rem;
                margin-top: -7%;
            background-color: transparent;
        }
    }
   
}