.divfooter{
    width: 70.9vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 14.7%;
    margin-right: 14.4%;
    p{
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.88rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    }
}

.iconosfooter{
    width: 70.9vw;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 14.7%;
    margin-right: 14.4%;
    margin-bottom: 2rem;
    a:visited {
        color: #060A24;
      }
}

@media only screen and (min-width: 768px) {

    
    footer {
        display: flex;
        justify-content: space-between;
    }

    .divfooter{
        width: 70.9vw;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        margin-left: 14.7%;
        margin-right: 14.4%;
        p{
        font-family: "IBM Plex Mono", monospace;
        font-size: 0.88rem;
        margin-bottom: 1rem;
        margin-top: 2.25rem;
        }
    }
    
    .iconosfooter{
        width: 70.9vw;
        display: flex;
        justify-content: space-around;
        align-content: flex-end;
        margin-top: 2.25rem;
        margin-left: 14.7%;
        margin-right: 14.4%;
        margin-bottom: 2rem;
        a:visited {
            color: #060A24;
          }
    }
  

}