.imagenmujer{
    top: 95.5px;
    transform: translate(0, 19.97rem);
    margin-bottom: -3.69rem;
    
    .mujertelefono{
        //background-color: orange;
        width: 22.5rem;
        height: 32.44rem;
        top: 95.5px;
        transform: translate(0, -25.97rem);
        //margin-bottom: -1.69rem;
    }
}

.origen {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    
        h1{
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 2.25rem;
        max-width: 225px;
        //margin-top: 1.69rem;
        margin-bottom: 0.5rem;
        }
        p{
            font-family: "IBM Plex Mono", monospace;
            font-size: 0.88rem;
            margin-bottom: 3.38rem;
        }
}

.invitados{
    //margin-bottom: -1.69rem;
    h1{
        width:90vw;
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 2.25rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5%;
        margin-bottom: 0.88rem;

    }
}
.imagenes-invitados {
    margin-bottom: 3rem;
    .imagen{
        width: 100vw;
        height: 15.19rem;
        display: block;
    }
}

.temas{
    width:90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;

    
    h1{
        margin-bottom: 1.5rem;
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 2.25rem;
        margin-left: 5%;
    }

    .iconosytemas2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
        h4{
            width:90vw;
            font-family: "IBM Plex Sans-Semibold", sans-serif;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        .icon{
            margin-top: 2.31rem;
            margin-bottom: 0.81rem;
        }
    
    }
    
}

.novedades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#0000FF,#0000A3);
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 2.63rem;
    h1{
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 2.25rem;
        //max-width: 225px;
        color: #FFFFFF;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 4rem;
        margin-bottom: 2.25rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "IBM Plex Mono-Medium";
        font-size: 1rem;
        font-weight: bold;
        width: 90vw;
        height: 3rem;
        background-color: #00f3bb;
        margin-bottom: 1.5rem;
        margin-left: 5%;
    }
  
}

@media only screen and (min-width: 768px) {

    .imagenyorigen {
        display: flex;
        margin-left: 13.9%;
        

    

        .imagenmujer{
            top: 95.5px;
            transform: translate(0, 19.97rem);
            margin-bottom: -3.69rem;
            margin-right: 5%;
        
            .mujertelefono{
                //background-color: orange;
                width: 25.6rem;
                height: 41.25rem;
                top: 95.5px;
                transform: translate(0, -25.97rem);
                //margin-bottom: -1.69rem;
                margin-left: 13.9%;
            }
        }
    
        .origen {
            display: inline-block;
            
        
            h1{
            font-family: "IBM Plex Sans", sans-serif;
            font-size: 3rem;
            max-width: 399px;
            //margin-top: 1.69rem;
            margin-bottom: 1.5rem;
            display: inline-block;
            }
            p{
                font-family: "IBM Plex Mono", monospace;
                font-size: 1rem;
                margin-bottom: 3.38rem;
                max-width: 464px;
            }
        }
    }
    
    .invitados{
        //margin-bottom: -1.69rem;
        h1{
            max-width: 481px;
            font-family: "IBM Plex Sans", sans-serif;
            font-size: 3rem;
            display: inline-block;
            margin-left: 8.9%;
            margin-bottom: 0.88rem;
    
        }
    }
    .imagenes-invitados {
        
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        margin-bottom: 5%;
        
        
        .imagen{
            width: 33.3vw;
            height: 22.75rem;
            display: block;
            margin: 0; 
            padding: 0; 
        }
    }
    
       
    
    .temas{
        width: 90vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5%;

    
        h1{
            margin-bottom: 1.5rem;
            font-family: "IBM Plex Sans", sans-serif;
            font-size: 3rem;
            margin-left: 8.9%;
        }

        .iconosytemas2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            
        
                h4{
                    width: 15.3%;
                    height: 0.8%;
                    font-family: "IBM Plex Sans-Semibold", sans-serif;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    text-align: center;
                    margin-left: 40%;
                }
                .icon {
                    margin-top: 4.06rem;
                    margin-bottom: 0.81rem;
                    margin-left: 2rem;
                    margin-right : 3rem; 
                }
               
            
        }
        
    }
    
    .novedades{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(#0000FF,#0000A3);
        clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
        margin-top: 5.4%;
        height: 518px;
        h1{
            font-family: "IBM Plex Sans", sans-serif;
            font-size: 3rem;
            max-width: 692px;
            color: #FFFFFF;
            margin-left: 26%;
            margin-right: 5%;
            margin-top: 4rem;
            margin-bottom: 2.25rem;
            display: inline-block;
            
        }
        .boton {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "IBM Plex Mono-Medium";
            font-size: 1rem;
            font-weight: bold;
            width: 21.13rem;
            height: 3.5rem;
            background-color: #00f3bb;
            margin-bottom: 1.5rem;
            margin-left: 38%;
        }
      
    }

}